<div class="landing">
  <h1>PUSH YOUR LIMIT</h1>
  <h2>- but do it soft</h2>
  <div>
    <h3>Der vegane Energy Drink in drei fruchtigen Sorten.</h3>
    <ul>
      <li>100% Vegan</li>
      <li>100% Bio</li>
      <li>ohne künstliche Zusätze</li>
      <li>kalorienarm</li>
      <li>ohne Zuckerzusätze</li>
    </ul>
    <span>Zur Herstellung unseres Energy Drinks verwenden wir nur beste Zutaten aus kontrolliert biologischem Anbau.
      Durch das natür­liche Koffein der Guarana-Beeren wirkt er belebend und lang­fristig ohne dabei auf che­mische
      Wach­macher zurück­zu­greifen. So ist er die optimale Unterstützung für eine schonende Leistungssteigerung.</span>
      <h2>In drei Geschmacksrichtungen erhältlich</h2>
      <ul>
        <li>Blueberry</li>
        <li>Lemongrass</li>
        <li>Strawberry</li>
      </ul>
      <h3>Gratis Probepaket</h3>
      <span>Teste den veganen Energy Drink gratis. Bestelle ein Probepaket in einer von drei fruchttigen Sorten und lass dich überzeugen.</span>
  </div>
</div>
